# Copy to .env.local and fill values
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_PRICE_PRO=
NEXT_PUBLIC_STRIPE_PRICE_STARTER=
NEXT_PUBLIC_STRIPE_PRICE_ELITE=
 
# PayPal
PAYPAL_CLIENT_ID=Ab-idL5EejA2oZbT7fmlauCxVPUMt75KKttOxMWnRqCdGzF1V_883eSHJDHN6ep1vpwy2KjYk04h6M-s
PAYPAL_CLIENT_SECRET=EFgNaXWgJdrzCU-aNUPe0W7jZ4Zbf9GKJUsl3uuZI569bepfvPAX69pvyVfvLdRD-zR-uxJ81bj_mLF3
NEXT_PUBLIC_PAYPAL_CLIENT_ID=Ab-idL5EejA2oZbT7fmlauCxVPUMt75KKttOxMWnRqCdGzF1V_883eSHJDHN6ep1vpwy2KjYk04h6M-s

# Prices (USD)
NEXT_PUBLIC_PRICE_PRO_VALUE=9.99
NEXT_PUBLIC_PRICE_STARTER_VALUE=3.99
NEXT_PUBLIC_PRICE_ELITE_VALUE=29.99

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
